body {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
td {
  border-style: none;
}
th {
  font-size: 20px;
  border-style: solid;
  margin-bottom: 20px;
}
td {
  padding-top: 10px;
}

.btn2 {
  background-color: red;
  color: white;
  border: 30px;
  padding: 5px 25px 5px 25px;
}

.button {
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 25px 5px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button {
  background-color: #efefef;
  color: #008cba;
  border: 2px solid #008cba;
}
.button2 {
  border: none;
  border-radius: 5px;
  padding: 5px 25px 5px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: #008cba;
  color: white;
  border: 2px solid #008cba;
}

.button:hover {
  background-color: #008cba;
  color: white;
}
