.navbar{

    display: flex;
   margin-left: 70%;
   
    

}
.navbar>li>a{
    text-decoration: none;
    padding: 20px;
    text-align: center;
    
}
.navbar>li{
margin-top: 2px;
    list-style: none;
    padding-top: 10px;
   
}
.container{
    display: flex;
    background-color:rgb(101, 194, 255);
  
}
.logo{
    color: blue;
    margin: 0;
    padding: 10px;
    font-size: 20px;
}

.navbar>li :hover{
color: blue;

}